/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Color Variables */
    --black: #121212;
    --dark-blue: #19202D;
    --white: #FFF;
    --grey-100: #E7EAEE;
    --grey-200: #CFCFCF;
    --grey-400: #676D7E;
    --grey-500: #48556A;
    --purple-50: #EDE4FF;
    --purple-300: #A775F1;
    --purple-500: #733FC8;
    /* Spacing Variables */
    --spacing-500: 2.5em;
    --spacing-400: 2em;
    --spacing-300: 1.5em;
    --spacing-200: 1em;
    --spacing-100: .5em;
    --spacing-50: .25em;
}

/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
    background-color: #F6F5F6;
    padding: 73px 0;
}

.grid{
    width: 81.33%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--spacing-400);
}

.card{
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing-400);
    background-color: var(--grey-400);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--spacing-200);
    box-shadow: 40px 60px 50px -10px hsla(217, 19%, 35%, .2474);
}

.card .user{
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.card .user__avatar{
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--purple-300);
}

.card span, .card p{
    margin: 0;
}

.card .user__name{
    font-size: .8125rem;
    font-weight: 500;
    line-height: 110%;
}

.card .user__role{  
    font-size: .6875rem;
    font-weight: 500;
    line-height: 110%;
}

.card .featured-quote{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
}

.card .quote{
    font-size: .8125rem;
    font-weight: 500;
    line-height: 140%;
}

.c1{
    background-color: var(--purple-500);
    color: var(--white);
    position: relative;
    z-index: 1;
}

.c1 .user__role, .c1 .quote{
    color: var(--purple-50);
}

.c1 .quotation-mark{
    display: none;
}

.c2{
    background-color: var(--grey-500);
    color: var(--white);
}

.c2 .user__role{
    color: var(--grey-300);
}

.c2 .quote{
    color: var(--grey-100);
}

.c3{
    background-color: var(--white);
    color: var(--grey-500);
    position: relative;
    z-index: 2;
}

.c3 .user__role, .c3 .quote{
    color: var(--grey-400);
}

.c4{
    background-color: var(--dark-blue);
    color: var(--white);
}

.c4 .featured-quote{
    color: var(--grey-200);
}
.c4 .quote{
    color: var(--grey-100);
}

.c5{
    background-color: var(--white);
    color: var(--grey-500);
}

.c5 .user__role{
    color: var(--grey-300);
}

.c5 .quote{
    color: var(--grey-400);
}

footer{
    display: none;
}

@media (min-width: 678px){
    .grid{
        width: 84.24479166666667%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .c1{
        grid-column: 1 / 3;
        position: relative;
    }

    .c1 .quotation-mark{
        display: inline-block;
        z-index: -1;
        position: absolute;
        left: 376px;
        top: 0px;
        opacity: 47%;
    }

    .c4{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .c5{
        grid-column: 1/3;
        grid-row: 4/5;
    }
}

@media (min-width: 1440px){
    .container{
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .grid{
        width: 77.36111111111111%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: var(--spacing-300) var(--spacing-400);
    }

    .c1{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .c2{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .c3{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .c4{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .c5{
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}